body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

nav {
  background-color: #95b5e8;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header {
  background-color: #0c3d7d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin-bottom: 5px;
}

.center-button {
  text-align: center;
  margin: 30px;
}

.button {
  background-color: #0c3d7d;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6px;
}

.button:hover {
  background-color: #19529c;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #19529c;
  margin-bottom: 10px;
}

.socials {
  margin-top: 15px;
  text-align: center;
}

.socials img {
  width: 35px;
  margin: 0 8px;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #052659;
  color: white;
  margin-top: 30px;
}
